# Excludes all files starting with 'captcha'

captchas/*
Goldrichtig Personal GmbH_10.12.2019.html
goldrichtig personal GmbH_10.12.2019.html
Goldrichtig Personal GmbH_21.01.2019.html
goldrichtig personal GmbH_21.01.2019.html
